@import "src/scss/variables";

.cardMain {
  background: white;
  margin-bottom: 50px;
  @media(max-width: 767px) {
    padding: 0px 20px !important;
  }
}

.titlePosition {
  position: absolute;
  top: -36px;
  background:white;
  @media(max-width: 767px) {
    position: relative;
  }
}

.ratings {
  padding: 10px 0px;
  i {
    color: $primary-yellow !important;
  }
}

.hotelDetails {
  p:nth-child(-n+2) {
    margin-bottom: 3px;
  }
  p:last-child {
    margin-bottom: 20px;
  }
}
