@import "src/scss/variables";

.cardMain {
  background: white;
}

.list {
  div {
    cursor: pointer;
  }
  a {
    padding: 15px 10px !important;
    float: left;
    color: $primary-blue !important;
  }
  i {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    color: #999999;
  }
}

.active {
  background: $primary-blue;
  a {
    color: white !important;
  }
  i {
    color: white;
  }
}

.iconsFloatRight {
  i {
    float: right;
    margin-right: 7px;
    color: #999999;
  }
}

.accordion {
  border-radius: 0 !important;
}

.starSliderIcons {
  i {
    color: $primary-yellow;
    padding-left: 5px;
  }
}

.checkboxPositioning {
  padding: 5px 0px;
}