@import "variables";

.pbNone {
  padding-bottom: 0 !important;
}

.ptNone {
  padding-top: 0 !important;
}

.prNone {
  padding-right: 0 !important;
}

.plNone {
  padding-left: 0 !important;
}

.mbNone {
  margin-bottom: 0 !important;
}

.mtNone {
  margin-top: 0 !important;
}

.textPadding {
  padding-left: 20px !important;
  padding-right: 20px !important;
  @media(max-width: 767px) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.textPaddingBottom {
  padding-bottom: 25px !important;
}

.textPaddingTop {
  padding-top: 20px !important;
}

.containerPaddingRight {
  padding-right: 45px !important;
}

.buttonMain {
  background: $primary-yellow !important;
  color: $primary-blue !important;
}

.maxWidth {
  width: 100%;
}


.textColor {
  color: $primary-blue !important;
}

.subHeading {
  color: #999999;
  margin-top: 3px;
}

.mainContainer {
  margin-top: 50px;
}


