@import "variables";;

body {
  background: url('../assets/background.png');
  background-repeat: repeat;
  @media(max-width: 767px) {
    background-repeat: repeat-y;
    background-size: cover;
  }
}

h1, h2, h3, h4 {
  color: $primary-blue !important;
}

p {
  font-size: 16px;
}

.semantic_ui_range_inner {
  margin: 0 !important;
}